
body{
  background: linear-gradient(45deg, #1de099, #1dc8cd) no-repeat center center fixed;
  color: #bad6d3;
  font-family: "Open Sans", sans-serif;
  -webkit-background-size: cover;
}


a {
  color: #1dc8cd;
  transition: 0.5s;
  text-decoration: none;
  margin-left: 15px;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0 0 20px 0;
  padding: 0;
}

#header {
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.30);
}

#header #logo {
  float: left;
  margin-left: 2vw;
}

#header #logo h1 {
  font-size: 36px;
  margin: -4px 0 0 0;
  padding: 0;
  line-height: 1;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px;
    margin-top: 0;
  }
}

#intro {
  width: 100%;
  height: 17vh;
  top:4vh;
  background-size: cover;
  position: relative;
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
}

#intro .intro-text {
  position: relative;
  left: 0;
  top: 8vh;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#intro h1, h2 {

  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #fff;
}

@media (max-width: 768px) {
  #intro h1, h2 {
    font-size: 32px;
    line-height: 36px;
  }
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #008796;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: white;
  min-width: 33vw;
  max-height:50vh;
  overflow: scroll;
  box-shadow: 0px 0px 10px rgba(73, 78, 92, 0.20);
  z-index: 1;
  margin-left:2vh;
  margin-top:-1vh;
  border-radius:5px;
  letter-spacing: 3px;
}

.dropdown-content a {
  color: #008796;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-left:auto;
}

.show {display: block;}

.restaurant {
  width: 200px;
}

.list tr{
  background-color: #fff;
  padding:10px;
  height:7vh;
  }

.list td{ width:25vw;
  border-collapse: collapse;
  border-radius: 8px;
  spacing: 10px;
  box-shadow: 0px 0px 10px rgba(73, 78, 92, 0.10);
}

.list {
  margin-left: auto;
  margin-right: auto;
}

.list table {
  width: 82vw;
  font-size: 18px;
  border-spacing: 2vh;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2vh;
  overflow: auto;
}

.dropbtn, .backbtn, .current-btn{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: bold;
  display: inline-block;
  padding: 8px 20px;
  letter-spacing:1px;
  border-radius: 25px;
  transition: 0.5s;
  margin: 2vh;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
}

.backbtn{
  float:right;
  margin-right:10vw;
}

.buttonfav{
  margin-top: 0.4vh;
  margin-left: 67vw;
  position: absolute;
}

#button1 , #button2{
display:inline-block;
margin-left: auto;
margin-right: auto;
height: 8%;
}

.container{
  text-align: center;
}

/* Home */
.homeicon {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width: 47%;
  height: 47%;
  }

.iconcaption {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.homediv{
  margin-top:15vh;
}

#ewtTable{
  margin-top: 5vh;
}

#crwtTable{
  margin-top: 2vh;
}

.homebtn{
  float:right;
  color:#23bfc0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 30px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
  display:inline;
}

#wt{
  float:right;
  margin-right: 2vw;
}

.current #wt{
  margin-right: 10vw;
}

.current span{
  line-height:7vh;
}

#time{
  float:left;
  margin-left: 2vw;
}

.alltime table{
  margin-top:5vh;
  font-size: 22px;
}

.alltime span,.current span{
  color: #1dc8cd;
}

#FavoritesList{
  margin-top:2vh;
}
