body{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.screen {
  align:center;
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  height: 444.44px;
}

.list {

  align: center;
  border: 1px solid #ccc;
  width: auto;
  height: 300px;
  overflow-y: scroll;
}

h1, h2 {
  margin-top: 0px;
}

.restaurant {
  padding: 5px;
  margin-left: 10px;
}

.favbutton {
  margin-left: 10px;
}
